.App {
  text-align: center;
}


.bg {
  background-image: url("../styles/images/flag.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }